<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>
           patient
        </title>

        
	
    </head>

    <body>
        <h3>환자 메뉴</h3>
        <div>
        <form action = '/patient_information'>
            <button type = "submit">개인정보</button>
        </form>
        </div>
    </br>
        <div>
        <form action = '/patient_search'>
            <button type = "submit">병원검색</button>
        </form>
        </div>
    </br>
        <div>
        <form action = '/store_search'>
            <button type = "submit">상점검색</button>
        </form>
        </div>  
    </br> 
        <form action = '/log_out'>
            <button type = "submit">로그아웃</button>
        </form>

    </body>
</html>