<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" />
        <title>
           hospital
        </title>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script>
        </script>       
	
    </head>

    <body>
        <h3>상점 계정</h3>

        <form action = '/store_reservation_manage'>
            <button type = "submit">현재 예약자</button>
        </form>
        <form action = '/store_patient_record'>
            <button type = "submit">환자 정보 관리</button>
        </form>
        <form action = '/log_out'>
            <button type = "submit">로그아웃</button>
        </form>

    </body>
</html>